body {
    background-color: #f8f8f8;
}

#form-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 25px auto;
    padding: 25px;
}

@media(min-width: 768px) {
    #form-container {
        margin: 50px auto;
        padding: 50px;
    }
}

#form-container h2 {
    font-weight: 900;
    margin-bottom: 30px;
}

#form-container a {
    color: #222;
    transition: 5px;
    font-size: 18px;
    cursor: pointer;
}

#form-container a:hover {
    color: #0a9711;
}

#form-container form {
    padding-bottom: 0px;
}

#form-container .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.form-check-label {
    font-size: 15px;
}

#form-container .form-control:focus {
    box-shadow: none;
}

#form-container input[type="submit"],
#form-container input[type="checkbox"]:checked {
    background-color: #0a9711;
    border-color: #0a9711;
}

.btn.btn-primary {
    width: 100%;
    margin-top: 25px;
}

@media (min-width: 768px) {
    .btn.btn-primary {
        width: 200px;
    }
}

.row.align-items-center {
    align-items: center;
    padding: 20px;
    height: 100%;
}

.col-md-6.order-md-1 {
    padding-top: 50px;
}

@media(min-width:768px) {
    .col-md-6.order-md-1 {
        padding-top: 0;
    }
}

#link-container {
    text-align: center;
    padding-top: 50px;
}